*{
    margin: 0;
    padding: 0;
    font-family: arial;
   box-sizing: border-box;
}
body{
    background-color: #081b29;
    color: white;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 3s;
}
.logo{
    position: relative;
    text-decoration: none;
    color: green;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 30px;
    margin-left: 25px;
}
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
.navbar a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    margin-left: 25px;
}
.navbar a:hover{
    color: #00abf0;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home .home-img-height-width img{
    height: 500px;
    width: 100%;   
}
.home .home-img{
    position: relative;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-content{
    max-width: 600px;
}
.home-content .msg-h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}
.msg-h1{
    position: relative;
    color: #229954;
    font-size: 80px;
}

.msg-h3{
    position: relative;
    color: #00abf0;
    margin-top: 20px;
    font-size: 2rem;
}
.home-content .msg-h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
.msg-p {
    color: beige;
    font-size: 1.2rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.home-img{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@keyframes showRight {
    100% {
        width: 0;
    }
}